/* 
Google Font | Roboto
Usage: 
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif; 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

section {
  padding: 3.5rem;
}

/* Author: Zakir Ehmedov */
.intro_primary-features p {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.intro_primary-content h1 {
  color: #000;
  font-family: Roboto Slab;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
}

.intro_primary-content p {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.writer-box {
  border-radius: 5px;
  background: #1e4681;
}

.writer-box .writer-sentence {
  color: #fff;
  font-family: Roboto Slab;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
}

.writer-box .writer-name {
  color: #fff;
  text-align: right;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

/* Author: Rahima Mahmudzade */
h2.heading {
  color: #000;
  font-family: "Roboto Slab", serif;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
}

.course_about_text {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

h3 {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}

.date_text {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

/* Author: Sadiq Ibrahimli */
.features_title {
  color: #000;
  font-family: "Roboto Slab";
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
}

.features_box .box_title {
  color: #1e4681;
  font-family: "Roboto";
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}

.features_box .box_paragraf {
  color: #000;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.list_title {
  color: #000;
  font-family: "Roboto Slab";
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
}

.list_ul {
  color: #000;
  font-family: "Roboto";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

/* Author: Ravi Hamidov */
.programs_card {
  border-radius: 30px;
  background: #fff;
  box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.25);
}

.programs_title {
  color: #000;
  font-family: "Roboto Slab";
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
}

.programs_card img {
  width: 100%;
}

.testimonials {
  background: #efefef;
}

.testimonials_title {
  color: #000;
  font-family: "Roboto Slab";
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
}

.testimonials_card {
  border-radius: 30px;
  background: #fff;
  box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.25);
}

.testimonials_card-profile img {
  width: 30%;
}

.testimonials_card-profile--content p {
  color: #000;
  font-family: Roboto Slab;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 101.385%; /* 30.415px */
}

.testimonials_card-profile--content i {
  font-size: 31px;
}

.fa-square-facebook {
  color: #4267b2;
}

.fa-vk {
  color: #4c75a3;
}

/* Author: Nermin Qasimli */
/* Price  */
.price {
  background: #9dc9c8;
}

.price h2 {
  color: #000;
  font-family: Roboto Slab;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 101.385%; /* 32.443px */
}

.price_text h3 {
  color: #000;
  font-family: Roboto;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 101.385%; /* 46.637px */
}

.price_text span {
  color: #000;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 101.385%; /* 14.194px */
}

.price_content-primary h4 {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 101.385%; /* 14.194px */
}

.price_content-secondary h4 {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 101.385%; /* 14.194px */
}
/* Contact */
.contact {
  background-color: #000;
  color: #fff;
}

.contact_social i {
  color: #fff;
  font-size: 26px;
  margin: 1.5rem 1rem 0 0;
}

.contact_primary-bottom {
  margin-top: 7rem;
}
