body {
  margin: 0;
}

/* Author: Zakir Ehmedov */
.intro_primary-features p{
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.intro_primary-content h1{
  color: #000;
  font-family: Roboto Slab;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
}

.intro_primary-content p{
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.writer-box{
  border-radius: 5px;
  background: #1E4681;
}

.writer-box .writer-sentence{
  color: #FFF;
  font-family: Roboto Slab;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
}

.writer-box .writer-name{
  color: #FFF;
  text-align: right;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}


/* Author: Rahima Mahmudzade */

/* Author: Sadiq Ibrahimli */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100&display=swap");

.features_title {
  color: #000;
  font-family: "Roboto Slab";
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
}

.features_box .box_title {
  color: #1e4681;
  font-family: "Roboto";
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}

.features_box .box_paragraf {
  color: #000;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.list_title {
  color: #000;
  font-family: "Roboto Slab";
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
}

.list_ul {
  color: #000;
  font-family: "Roboto";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}


/* Author: Ravi Hamidov */

/* Author: Nermin Qasimli */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Roboto;
}
.first{
    width: 100vw;
    height: 60vh;
    background: #9DC9C8;
}
.second{
    width: 100vw;
    height: 40vh;
    background-color: black;
}
h1{
    color: #000;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 101.385%; /* 55.762px */
}
.nemo{
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 101.385%; /* 25.346px */
}
.demo{
    color: #000;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 101.385%; /* 81.108px */
}
.logo1{
    width: 115px;
    height: 68px;
    flex-shrink: 0;
}
.logo{
    width: 34px;
    height: 34px;
    flex-shrink: 0;
}
.foot{
    display: flex;
    color: #ffffff;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 101.385%; /* 18.249px */
}
.text{
    color: #ffffff;
}
.semo{
    text-align: start;
}